body {
    font-family: Arial Unicode MS;
    color: #FF0000;
    background: #EFEFEF;
}

h1 {
    font-size: xx-large;
    text-align: center;
    background: #0000FF;
}

h2 {
    font-size: xx-large;
    text-align: center;
    background: #0000FF;
}

ol {
    font-family: Algerian;
    font-size: large;
    text-align: center;
    color: #0000FF;
}